body {
  background-color: #d9d5d2;
  color: #0000FF;
  font-size: 15px;
  line-height: normal;
}
h1 {
  font-family: fantasy;
  font-size: 40px;
  font-weight: 200;
  line-height: normal;
  color:#91867e
}
h3 {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color:#74a18e
}

.author{ color:#1129c2}
.story-text{
  line-height: normal;
  color:#ad85ba
}

p{
    padding-bottom: 1em;
    font-size: 13pt;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

a {
  text-decoration: none;
}

a:link { color:#523257}
a:visited { color:#fff}
a:hover { color:#f5e50c}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
